{{#partial "styles"}}
    <link rel="stylesheet" href="/css/home.css">
{{/partial}}

{{#partial "content"}}
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6">
                <img src="/images/justice-league.png" alt="justice-league">
                <a href="/squads"><button class="btn btn-primary">Squads</button></a>
            </div>
            <div class="col-md-6">
                <img src="/images/spider-man.png" alt="spider-man">
                <a href="/heroes"><button class="btn btn-primary">Heroes</button></a>
            </div>
        </div>
    </div>
{{/partial}}

{{> layout.hbs}}