{{#partial "title" }}
    {{name}}
{{/partial}}


{{#partial "content"}}

    <h5>New Squad {{squad}} added</h5>
    <p>What a beautiful cause you got right there</p>
    <p>I fancy your plans to {{cause}}</p>
    <p><a href="/squads/list">View More</a></p>

{{/partial}}

{{> layout.hbs}}