{{#partial "title" }}
    {{squad}}
{{/partial}}


{{#partial "content"}}

    <h1>New Squad {{squads}} added</h1>
    <p>What a beautiful cause you got right there</p>
    <p>I fancy your plans to {{causes}}</p>

{{/partial}}

{{> layout.hbs}}